<h1>Selections#design</h1>
<p>Enter the url of the portfolio</p>
<%= form_tag('des_post', method: :post) do%>
<p>URL</p><%= text_field_tag(:portfolio)%>
<%= submit_tag("Submit") %>
<%end %>
<%= link_to 'back', selections_path %>